.searchBar{
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.281);
}

.main{
  display: table;
  width: 78%;
  height: 100%;
  padding: 110px;
  text-align: center;
}

.picList{
  list-style: none;
  column-count: 3;
}

ul.picList li{
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
}

.searchPic {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 600px;
  height: 40px;
  border-radius: 10px; 
  text-align: center;
  font-size: 15px; 
}

